.header-bg {
    background-image: linear-gradient(0.45turn, hsl(13, 100%, 72%), hsl(353, 100%, 62%)),
        url(../images/bg-pattern-intro.svg);
    background-position: center;
    background-size: auto, 10px;
    background-repeat: no-repeat, no-repeat;
}