.bg-editor {
  background-image: url('./images/illustration-editor-desktop.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 140% 80%;
}

.bg-laptop {
  background-image: url('./images/illustration-laptop-desktop.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: -80% 80%;
}

@media (max-width: 640px) {
  .bg-editor {
    background: none;
  }
  .bg-laptop {
    background: none;
  }
}
